<!-- Partial intended to be overwritten with tags loaded at the end of the page loading (usually for Javascript) 
<script>
    console.log("running some javascript");
</script>
-->

<center>
Cette page repose sur le nom de domaine: www.{{ .Site.Params.rootDomainName }}
</center>
